* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #214e34;
}
main {
  min-height: 100vh;
  width: 100%;
  display: flex;
}

.frame {
  border: 20px solid black;
  display: grid;
  width: 100%;

  /* 5 columns of equal width */
  grid-template-columns: repeat(5, 1fr);
  /* 4 rows of equal height */
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}

.cards_container {
  display: flex;

  justify-content: center;
  align-items: center;

  border: 1px solid black;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);

  /* font-awesome picture sizes */
  font-size: 10rem;
  background-color: #fbeee0;
  border-radius: 6px;
  margin: 10px;
  /* moving up animation */
  cursor: pointer;
  transition: transform 0.3s ease;
  transform-style: preserve-3d;
  position: relative;
}

/* Move card up by 10px on hover */
.cards_container:hover {
  transform: translateY(-5px);
}
/* the fliping animation */
.cards_container.flip {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.cards_front,
.cards_back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.cards_front {
  height: 100%;
  width: 100%;
  transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  background-color: #0074d9;
}

.cards_back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  position: absolute;
  text-align: center;
  height: 100%;
  right: 0;
  left: 0;
  top: 0px;
  color: black;
}
/* CSS Code here will only be executed on a screen with a width below 600px */
@media screen and (max-width: 600px) {
  .cards_container {
    font-size: 3rem;
  }
  .frame {
    /* border: 20px solid black; */

    /* 5 columns of equal width */
    grid-template-columns: repeat(2, 1fr);
    /* 4 rows of equal height */
    grid-template-rows: repeat(10, 1fr);
  }
}
